h1 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    font-size: 300%;
  }
  
  body {
    background-color: #00205B;
    color: lightgray;
  }
  
  p {
    font-family: 'Press Start 2P', cursive;
    color: black;
  }
  
  .lk {
    color: black;
  }
  
  .bio {
    position: relative;
    top: 0px;
    width: 1000px;
    float: right;
  }
  
  img {
    width:20%;
    height:20%;
  }