h1 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    font-size: 300%;
  }
  
  body {
    color: #00205B
  }
  
  .em {
    font-family: 'Press Start 2P', cursive;
    color: black;
  }