h1 {
  font-family: 'Press Start 2P', cursive;
  color: lightslategray;
  font-size: 200%;
}

body {
  background-color: #00205B;
}

p {
    color: black;

}

style {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

img.resize {
  max-width:50%;
  max-height:50%;
}